        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-width: 320px;
        overflow-x: hidden;
        }

        body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        }

        .wrapper {
            flex: 1 0 auto;
        }
        
        /*menu superior*/
        .menu-superior{
            background-color: #A3A656;
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            justify-content: space-between;
         
        }

        .menu-izquierda{
            display: flex;
            align-items: center;
            gap: 35px;
        }

        .menu-izquierda ul.menu-lista {
            display: flex;
            align-items: center;
            gap: 35px;
            list-style: none;
            margin: 0;
            padding: 70px;

        }

        .menu-izquierda ul.menu-lista li a{
            color: black;
            text-decoration: none;
            font-family: 'Inter', Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            transition: color 0.2s;
        }

        .menu-izquierda ul.menu-lista li a:hover{
            color: #FFFF00;
        }

        .menu-derecha{
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .mi-cuenta{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .icono-usuario{
            background-color: #A3A656;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

       .mi-cuenta span{
            font-family: 'Inter', Arial, sans-serif;
            font-size: 14px;
            color: black;
            transition: color 0.2s;
            cursor: pointer;
       }

       .mi-cuenta span:hover{
            color: #FFFF00;
       }

       .flag{
            display: flex;
            align-items: center;
            gap: 10px;
       }

       .flag span{
            font-family: 'Inter', Arial, sans-serif;
            font-size: 14px;
            color: black;
       }
       /*--------------------------------------------------------------------*/

       /*imagen de fondo*/
       .fondo-imagen{
            background-image: url(/SPA-APLICACIONES-WEB/images/main.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 100px;
            color: black;
       }

       .fondo-imagen p{
            font-family: 'Romanesco', cursive;
            font-size: 96px;
            font-weight: 400;
            margin: -90px 0 5px 60px;
       }

       .fondo-imagen h2{
            font-family: 'Inter', Arial, sans-serif;
            font-size: 32px;
            font-weight: 700;
            margin-left: 60px;
            line-height: 1.2;
       }
        /*--------------------------------------------------------------------*/

        /*contenedor de reserva*/
       .reserva-container{
            background-color: #F2F6F6;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            padding: 40px 20px;
            height: 20px;
       }

       .reserva-cita{
            display: flex;
            align-items: center;
            font-family: 'Inter', Arial, sans-serif;
            font-size: 16px;
            color: #333;
            gap: 30px;
       }

       .codigo-promocional{
            display: flex;
            align-items: center;
            font-family: 'Inter', Arial, sans-serif;
            font-size: 16px;
            color: #333;
            gap: 20px;
       }

       .input-reserva input {
            width: 200px;
            height: 60px;
            border: none;
            border-radius: 12px;
            padding: 0 15px;
            font-family: 'Inter', Arial, sans-serif;
            background-color: white;
            font-size: 16px;
       }

       .codigo-promocional input {
            width: 150px;
            height: 60px;
            border: none;
            border-radius: 12px;
            padding: 0 30px;
            font-family: 'Inter', Arial, sans-serif;
            background-color: white;
            font-size: 16px;
        }

       .codigo-promocional :placeholder-shown{
            font-family: 'Inter', Arial, sans-serif;
            font-size: 16px;
            color: #9E9A9A
       }
       /*--------------------------------------------------------------------*/

       /*contenedor de cartas de servicios*/
       .masajes{
            display: flex;
            justify-content: center;
            gap: 134px;
            padding: 80px 20px 0;
            background-color: white;
       }

       .carta-servicio{
            width: 280px;
            font-family: 'Inter', Arial, sans-serif;
            border-radius: 15px 15px 0 0;
            overflow: hidden;
            background-color: #FFFFFF;
       }

       .titulo{
            background-color: #A3A656;
            color: white;
            font-size: 28px;
            padding: 15px 10px;
            font-weight: 550;
       }

       .carta-servicio img {
            width: 100%;
            height: 154px;
            object-fit: cover;
       }

       .carta-servicio p {
            font-size: 16px;
            color: #333;
            margin: 10px 10px 5px;
       }

       .btn-precio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px 20px 20px;
       }

       .precio {
            font-size: 18px;
            font-weight: bold;
       }

       .btn-reservar {
            background-color: #A3A656;
            border: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            padding: 8px 18px;
            border-radius: 35px;
            cursor: pointer;
            transition: background-color 0.3s ease;
       }

       .btn-reservar:hover {
            background-color: #384001;
       }
       /*--------------------------------------------------------------------*/

       /*contenedor de beneficios*/
       .socio{
            background-color: #F2F6F6;
            height: 770px;
            padding: 10px 10px;
            text-align: center;
            font-family: 'Inter', Arial, sans-serif;
       }

       .titulo-beneficios {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 50px;
       }

       .planes {
            display: flex;
            justify-content: center;
            gap: 180px;
            margin: 80px 0 0 0;
       }

       .plan {
            max-width: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
       }

       .marco-circular {
            border-radius: 50%;
            border: 10px solid #4A5502;
            width: 233px;
            height: 233px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 15px;
            background-color: white;
       }

       .marco-circular img {
            width: 150px;
            height: 150px;
            object-fit: contain;
       }

       .plan h3 {
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0 20px;
       }

       .btn-condiciones {
            display: block;
            text-align: center;
            background-color: #A3A656;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 35px;
            padding: 20px 40px;
            width: 280px;
            cursor: pointer;
            font-size: 12px;
            transition: background-color 0.3s ease;
            margin-bottom: 0 auto;
       }

       .plan ul {
            list-style-type: disc;
            text-align: left;
            padding-left: 20px;
       }

       .btn-condiciones:hover {
            background-color: #384001;
       }
       /*--------------------------------------------------------------------*/

       /*contenedor de footer*/
        .footer {
            background-color: #384001;
            color: #A3A656;
            font-family: 'Inter', Arial, sans-serif;
            font-size: 16px;
            padding: 0 40px;
        }

        .contenedor-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 97px;
            width: 100%;
            flex-wrap: wrap;
        }

        .links {
            display: flex;
            gap: 35px;
            flex-wrap: wrap;
            margin-left: 75px;
        }

        .links a {
            color: #A3A656;
            text-decoration: none;
            transition: color 0.3s;
        }

        .links a:hover {
            color: #FFFF00;
        }

        .redes-sociales {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .redes-sociales span {
            margin-right: 10px;
        }

        .redes-sociales a img {
            width: 32px;
            height: 32px;
            object-fit: contain;
            transition: opacity 0.3s;
        }

        .redes-sociales a img:hover {
            opacity: 0.8;
        }

    
    
       
       
       
    